{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>SECRET PAGE</h1></div>
    <p>Salva il seguente testo in un posto sicuro</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ password }}</textarea>
      </div>

      <div class="col-sm-6">
        <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn"
              id="copy-clipboard-btn" data-clipboard-target="#password-text"
              data-placement='bottom'>
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <h4>Il testo è stato <strong> permanentemente cancellato</strong> dal sistema l'URL non sarà più disponibile. Ricarica la pagina per verificare.</h4>
  </section>
</div>
<br>
<br>
<br>
<button type="button" class="btn btn-primary"  onClick="window.location.href=window.location.href">Ricarica la pagina</button>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
