{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>SECRET PAGE</h1></div>
    <p>Salva il seguente testo in un posto sicuro</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ password }}</textarea>
      </div>

      <div class="col-sm-6">
        <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn"
              id="copy-clipboard-btn" data-clipboard-target="#password-text"
              data-placement='bottom'>
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <h4>Il testo è stato <strong> permanentemente cancellato</strong> dal sistema l'URL non sarà più disponibile. Ricarica la pagina per verificare.</h4>
  </section>
</div>
<div class="center">
<br>
<br>
<br>
  <div class="text-center">
<div><button type="button" class="btn btn-primary"  onClick="window.location.href=window.location.href">Ricarica la pagina</button></div>
  </div>
</div>
<script src="https://unpkg.com/@authorizerdev/authorizer-js/lib/authorizer.min.js"></script>
<script type="text/javascript">
  const authorizerRef = new authorizerdev.Authorizer({
    authorizerURL: `https://authtv.herokuapp.com`,
    redirectURL: window.location.replace(window.location.href);,
    clientID: 'c0ff96a6-f608-4ec3-ab39-dd737ff1cc51', // obtain your client id from authorizer dashboard
  })
  // use the button selector as per your application
  /**
  const logoutBtn = document.getElementById('logout')
  logoutBtn.addEventListener('click', async function () {
    await authorizerRef.logout()
    window.location.href = '/'
  })
  */
  async function onLoad() {
    const res = await authorizerRef.authorize({
      response_type: 'code',
      use_refresh_token: true,
    })
    if (res && res.access_token) {
      // you can use user information here, eg:
      const user = await authorizerRef.getProfile({
        Authorization: `Bearer ${res.access_token}`,
      })
      const userSection = document.getElementById('user')
      const logoutSection = document.getElementById('logout-section')
      logoutSection.classList.toggle('hide')
      userSection.innerHTML = `Welcome, ${user.email}`
    }
  }
  onLoad()
</script>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
