{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h1>TechneValue Secure Password</h1>
    </div>
    <p class="lead">Possiamo mostrarti il testo una sola volta!</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <button id="revealSecret" type="button" class="btn-lg btn-primary">Mostra</button>
      </div>
    </div>
  </section>
</div>
<script src="https://unpkg.com/@authorizerdev/authorizer-js/lib/authorizer.min.js"></script>
<script type="text/javascript">
  const authorizerRef = new authorizerdev.Authorizer({
    authorizerURL: `https://authtv.herokuapp.com`,
    redirectURL: #;,
    clientID: 'c0ff96a6-f608-4ec3-ab39-dd737ff1cc51', // obtain your client id from authorizer dashboard
  })
  // use the button selector as per your application
  /**
  const logoutBtn = document.getElementById('logout')
  logoutBtn.addEventListener('click', async function () {
    await authorizerRef.logout()
    window.location.href = '/'
  })
  */
  async function onLoad() {
    const res = await authorizerRef.authorize({
      response_type: 'code',
      use_refresh_token: true,
    })
    if (res && res.access_token) {
      // you can use user information here, eg:
      const user = await authorizerRef.getProfile({
        Authorization: `Bearer ${res.access_token}`,
      })
      const userSection = document.getElementById('user')
      const logoutSection = document.getElementById('logout-section')
      logoutSection.classList.toggle('hide')
      userSection.innerHTML = `Welcome, ${user.email}`
    }
  }
  onLoad()
</script>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}
