{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header" class="display-4"><h1 class="display-4">Inserisci il testo che vuoi condividere</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post" autocomplete="off">
        <div class="col-sm-6 margin-bottom-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="TechneValue Secure Password ti permette di condividere informazioni confidenziali in modo sicuo! Inserisci un testo seleziona una data di scadenza del link e genera l'URL invialo al destinatario. Una volta aperto il link non sarà più raggiungibile." aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
        </div>

        <div class="col-sm-2 margin-bottom-10">
          <select class="form-control" name="ttl">
            <option value="Two Weeks">Due settimane</option>
            <option value="Week" selected="selected">Una settimana</option>
            <option value="Day">1 Giorno</option>
            <option value="Hour">1 Ora</option>
          </select>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">Genera l'URL</button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}

